$font-stack: "prestige-elite-std",monospace;

// weights
$normal: 400;
$bold: 700;


body { padding: 0; margin: 0; font-family: $font-stack; }
.game-screen { height: 100vh; }

.scene { height: 80vh; overflow: hidden;
  &--woods { background: url('/images/woods.gif') center center no-repeat; }
}

.dialog { height: 20vh; padding: 1em; box-sizing: border-box;
  &__speaker { font-weight: $bold; font-size: 2em; text-transform: uppercase; }
}

.character { height: 800px; width: 400px;
  &--left { float: left; }
  &--right { float: right; }
}

.cicada { background: transparent url('/images/cicada.png') center center no-repeat; }
.sam { background: transparent url('/images/sam.png') center center no-repeat; }
